<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title class="p3">Tomek Sochacki</title>
</head>
<body>
<img src="logo.png" width=150px height=150px id="logo">
<div id="menu">
    <a href="/" class="p3">O mnie</a>
    <a href="/adres1" class="p3">Kontakt</a>
    <a href="/adres2" class="p3">Gallery</a>
</div>
<div id="content" class="p3">
    To jest galeria !!
</div>

<div class="gallAll" style="display:flex;justify-content:center;align-items:center;">
    <div class="gallery displayed">
        <a target="_blank" href="gal1.jpg">
            <img src="gal1.jpg" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc p3">Zdjęcie nr 1</div>
    </div>

    <div class="gallery displayed">
        <a target="_blank" href="gal2.jpg">
            <img src="gal2.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc p3">Zdjęcie nr 2</div>
    </div>

    <div class="gallery displayed">
        <a target="_blank" href="gal3.jpg">
            <img src="gal3.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc p3">Zdjęcie nr 3</div>
    </div>

    <div class="gallery displayed">
        <a target="_blank" href="gal4.jpg">
            <img src="gal4.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc p3">Zdjęcie nr 4</div>
    </div>
</div>


</body>
</html>